<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src='/javascripts/base.js'></script>
  </head>
  <body>
    <div class='top_menu' data-id="<%=title%>">Welcome</div>
    <hr/>
    <div class='tool-row'>
      <input id='btn-search' class='radio' type='button' value='search' />
        <label class='right-radio'>
          all
          <input class='radio' type='radio' name='search_type' value='all' data-value='3' checked='checked' />
        </label>
        <label class='right-radio'>
          app
          <input class='radio' type='radio' name='search_type' value='app' data-value='0'/>
        </label>
        <label class='right-radio'>
          jni
          <input class='radio' type='radio' name='search_type' value='jni' data-value='1'/>
        </label>
    </div>
    <br>
    <div id='left_menu'>
      <div class='top_menu' data-id="haha">
        CrashItems
      </div>
      <hr />
      <div id='left_body'></div>
      <hr/>
      <div class='tool-row'>
        <label id='page-next' class='right-none'>&nbsp;&nbsp;next</label>
        <label id='page-index' data-index='0' data-count='0'>0/0</label>
        <label id='page-prev' class='right-none'>prev&nbsp;&nbsp;</label>
      </div>
    </div>
    <div class='mid_menu'>
      <div class='top_menu'>crash_info</div>
      <input id='btn-delete' style='float:right' type='button' value='delete record'/>
      <hr/>
      <div id='mid_body'>
      </div>
    </div>
  </body>
</html>
