<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/login.css' />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src='/javascripts/jquery.md5.js'></script>
    <script src='/javascripts/login.js'></script>
  </head>
  <body>
    <div id='sign-box'>
      <div class='title'><%= title %></div>
      <br/>
      <form action='/login' method='post'>
        <div class='contain'>
          username
          <input class='sign' name="username"/>
        </div>
        <br/>
        <div class='contain'>
          password
          <input class='sign' name="userpass" type="password" />
        </div>
        <br/>
        <div class='contain'>
          <input id="btn-ok" type='button' value='Login'/>
        </div>
        <br/>
      </form>
    </div>
  </body>
</html>